
/**
 * Mobile Header
 */

.site-header--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1em 1.5em;
  overflow: hidden;
  z-index: 500;
  background: #fff;

  @supports ( display: flex ) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include breakpoint($bp-med) {
    display: none;

    @supports ( display: flex ) {
      display: none;
    }
  }

  .admin-bar & {
    top: 2.875em;
  }
}

.mobile-header-left {
  float: left;

  @supports ( display: flex ) {
    flex: 1 0 auto;
  }
}

.mobile-header-right {
  float: right;
}

.menu-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  padding: 0.75em;
  color: #fff;
  line-height: 1;
  background-color: $color-orange;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $link-color--hover;
  }

  svg {
    display: block;
    width: 1.375em;
    height: 1.1875em;
  }
}

.close-button {
  @include button-reset;
  display: inline-block;
  vertical-align: top;
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  svg {
    display: block;
    width: 2.0625em;
    height: 2.0625em;
  }
}

.utility-nav--search{
 .search-bar{
   background-color: $color-orange;
   .search-form{
     margin: 1em;
    padding-bottom: 1em;
   }
 }
 .search-bar .search-submit {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .65em;
    height: 100%;
    height: 32px;
  }
}

.mobile-nav--utility{
  padding: 0 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  li{
    &:nth-child(1){
     border: 2px solid white;
     background-color: $color-orange;
     color: $color-white;
     a{
       color: $color-white;
     }
    }
    &:nth-child(2){
      background-color: $color-white;
      a{
        color: $color-orange;
      }
    }
  }
  li + li{
    margin-top: 1em;
  }
}


.utility-nav--search .search-bar .search-form{
  margin: 1em 0;
}
