
/**
 * Site Footer
 */

.site-footer {
  color: #fff;
  background-color: $footer-bkg;
  padding-bottom: 0 !important;
  @include breakpoint($bp-large){
    padding-top: 6em !important;
  }

  h5, .h5 {
    color: inherit;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
  .site-branding{
    text-align: center;
    @include breakpoint($bp-large){
      text-align: left;
    }
  }
  .get-invovled-box{
    text-align: center;
    @include breakpoint($bp-large){
      text-align: left;
    }
    p{
      font-size: 14px;
      margin-bottom: 1.3em;
    }
    .button{
      background-color: $color-white;
      border: 2px solid white;
      color: $color-black;
      &:hover{
        background-color: $color-orange;
        color: $color-white;
      }
    }
  }
  .row{
    > div{
      padding: 0;
    }
  }
  .col-lg-3 + .col-lg-3{
    position: relative;
    margin-top: 3em;
    @include breakpoint($bp-large){
      margin-top: 0;
      padding-left: 3em;
    }
    &:after{
      content: "";
      position: absolute;
      top: -21px;
      width: 180px;
      height: 1px;
      background: white;
      left: 0;
      right: 0;
      margin: auto;
    @include breakpoint($bp-large){
      top: 1px;
      width: 1px;
      height: 220px;
      background: #fff;
      left: -11px;
      margin: 0;
      }
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  padding: 3em 0;
}

.site-info {
  padding: 1.5em 0;
  border-top: 2px solid rgba( #fff, 0.3 );
}


/**
 * Site Address
 */

.address-block {
  text-align: center;

  @include breakpoint($bp-large) {
    text-align: left;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.address-contact-info {
  margin-top: 0.5em;
  p{
    font-size: 18px;
  }
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;
  @include breakpoint($bp-med) {
    text-align: left;
  }
  p{
    font-size: 15px;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;

  @include breakpoint($bp-med) {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
  p{
    font-size: 15px;
  }
}

.bottom-footer{
  // padding-top: 5em !important;
   @include breakpoint($bp-med){
     padding-top: 6em !important;
     display: flex;
     justify-content: space-between;
   }
   .site-copyright{
     @include breakpoint($bp-med){
       flex: 1;
     }
   }
}
.top-footer{
  h2{
    font-size: 32px;
    font-weight: 500;
    color: $color-white;
  }
}

address.address-block {
    > div{
      span{
        font-size: 18px !important;
      }
    }
}
