
/**
 * Site Header
 */

.site-header {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $header-bkg;
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.49);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.49);

  @include breakpoint($bp-med) {
    display: block;
  }

  @include breakpoint($bp-med--tall) {
    position: fixed;
    z-index: 100;
  }

  .admin-bar & {
    top: 2em;
  }

  &.minify-header {
    @include breakpoint($bp-med--tall) {
      background-color: rgba( $header-bkg, 0.95 );
      box-shadow: $box-shadow;

      // // Add fancy background blur effect
      // (currently has performance issues in Chrome)
      //
      // @supports ( backdrop-filter: blur(10px) ) or
      //           ( -webkit-backdrop-filter: blur(10px) ) {
      //   background-color: rgba( #fff, 0.75 );
      //   backdrop-filter: blur(10px);
      // }
    }
  }

  .wrap {
    position: relative;
  }

  .super-header {
    color: #ffffff;
    background-color: $color-orange;
    padding: 0px 0;

    .wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .search {
        width: 215px;
      }

      .navigation--utility {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
        .signup {
          display: flex;
          align-items: center;
          border-right: 1px solid #ffffff;
          padding: 0 18px 0 0;
          margin: 0 18px 0 0;

          .text {
            font-family: $font-base;
            font-weight: 600;
            @include font-size(16);
            color: #FFFFFF;
            margin: 0 25px 0 0;
          }

          .button {
            @include button(#ffffff);
            color: $color-orange;
            @include font-size(15);
            padding: 0 20px;

            &:hover, &:focus, &:active {
              color: #ffffff;
              background-color: $color-orange;
            }
          }
        } // end signup
      } // end navigation--utility
    } // end wrap
  } // end super-header

} // end site-header


/**
 * Site Logo
 */

.site-branding {
  transition: transform 500ms;
  transform-origin: center left;

  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      svg,
      img {
        opacity: 0.75;
      }
    }
  }

  svg,
  img {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.85);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }
  .site-logo{
    width: 140px;
    @include breakpoint($bp-large){
      width: auto;
    }
  }
}


/**
 * Site Navigation (optional)
 * ---
 * Group and position navs
 */

.site-navigation {
  //padding-top: 1.5em;
  transition: padding-top 500ms;

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      //padding-top: 0.75em;
    }
  }
}

.navigation--utility{
  .nav-list{
    li{
      padding-left: 0;
      a{
        padding: 5px 25px;
        text-transform: capitalize;
        font-size: 15px;
      }
    }
    li{
      &:nth-child(1){
        a{
          background-color: $color-orange;
          color: $color-white;
          border: 2px solid white;
          transition: color 500ms, background-color 500ms;
          &:hover{
            border: 2px solid white;
            background-color: $color-white;
            color: $color-orange;
            transition: color 500ms, background-color 500ms;
          }
        }
      }
      &:nth-child(2){
        a{
          background-color: $color-white;
          color: $color-orange;
          transition: color 500ms, background-color 500ms;
          border: 2px solid white;
          &:hover{
            border: 2px solid white;
            color: $color-white;
            background-color: $color-orange;
            transition: color 500ms, background-color 500ms;
          }
        }
      }
    }
  }
}

.utility-nav--search .search-bar .search-form {
    padding-bottom: 0;
}
.site-header .super-header .wrap .search {
    @include breakpoint($bp-med){
      width: 130px;
    }
    @include breakpoint($bp-large){
      width: 182px
    }
    @include breakpoint($bp-mega){
      width: 200px
    }
}
