.tribe-common .tribe-common-c-btn{
  background-color: $color-purple !important;
  border-radius: 0 !important;
}

.tribe-events-cal-links .tribe-events-gcal{
  color: $color-purple !important;
}

.tribe-events-cal-links .tribe-events-ical{
  color: $color-purple !important;
}
