
.page-template-template-home {
  .site-main{
    z-index: 1;
    overflow: visible;
  }
  .callout-block-one{
    background-color: $color-purple;
    position: relative;
    &:after{
     @include breakpoint($bp-large){
       content:url(../img/src/branding/top-block-graphic.png);
       position: absolute;
       right: 0;
       top: -10px;
       bottom: 0;
       width: 257px;
       height: 100%;
       z-index: 1;
     }
    }
    @include breakpoint($bp-large){
      padding-top: 5.5em;
      height: 504px;
    }
    .block-content{
      @include breakpoint($bp-large){
        display: flex;
        justify-content: flex-start;
      }
      .split-wrap{
        @include reverse-block-color();
        @include breakpoint($bp-large){
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 390px;
        }
        @include breakpoint($bp-large){
          width: 600px;
          padding-right: 14em;
        }
        @include breakpoint($bp-large-xl){
          padding-right: 11em;
        }
        @include breakpoint($bp-mega){
          padding-right: 10em;
        }

        p{
          margin-bottom: 1.2em;
        }
        h2{
          font-size: 45px;
        }
      }
    }
    .block-photo{
      position: relative;
      background-color: white;
      overflow: hidden;
      border: 20px solid white;
      height: 325px;
      margin-top: 2.5em;
      z-index: 2;
      @include breakpoint($bp-large){
        margin-top: 0;
        /* margin-right: -50vw; */
        /* max-width: 100vw; */
        right: -20px;
        width: 530px;
        height: 510px;
        position: absolute;
      }
      @include breakpoint($bp-large-xl){
        width: 650px;
      }
      @include breakpoint($bp-xl){
        width: 780px;
      }
      @include breakpoint($bp-mega){
        width: 950px;
      }
      @include breakpoint($bp-mega-xl){
        width: 1150px;
      }
      img{
        @include block-fit-cover(100);
      }
    }
    .button-box{
      a{
        &:nth-child(2){
          background-color: $color-white;
          border: 2px solid $color-white;
          color: $color-purple;
          margin-left: 0.4em;
          &:hover{
            border: 2px solid white;
            background-color: $color-purple;
            color: $color-white;
          }
        }
      }
    }
  }
  .callout-block-two{
    background-color: $color-orange;
    position: relative;
    @include breakpoint($bp-large){
      padding-top: 5em;
      &:after{
        @include breakpoint($bp-xl){
          content:url(../img/src/branding/bottom-block-graphic.png);
          position: absolute;
          left: 0;
          top: 4px;
          bottom: 0;
          width: 257px;
          height: 100%;
        }
      }
    }
    @include breakpoint($bp-xl){
      height: 604px;
      padding-top: 9em;
    }
    .block-content{
      display: flex;
      flex-direction: column-reverse;
      @include breakpoint($bp-large){
      }
      @include breakpoint($bp-xl){
        flex-direction: row;
        justify-content: flex-end;
      }
      .split-wrap{
        @include reverse-block-color();
        @include breakpoint($bp-med){
          display: flex;
        }
        @include breakpoint($bp-xl){
          padding-left: 8em;
          width: 810px;
        }
        @include breakpoint($bp-mega){
          padding-left: 9em;
          width: 950px;
        }
        @include breakpoint($bp-mega-md){
          width: 885px;
        }
        @include breakpoint($bp-mega-large){
          width: 805px;
        }
        @include breakpoint($bp-mega-xl){
          width: 900px;
        }
        .content-box{
          flex: 1;
          h2{
            font-weight: 400;
          }
        }
        .button-box{
          padding-top: 3em;
          @include breakpoint($bp-med){
            padding-left: 4em;
            padding-top: 0;
          }
          @include breakpoint($bp-large){
            padding-top: 5em;
          }
          @include breakpoint($bp-xl){
            padding-top: 0;
            padding-left: 4em;
          }
          a{
            display: flex;
            align-items: center;
            text-decoration: none;
            &:hover{
              .text{
                color: $color-purple;
              }
            }
            .icon-block{
              margin-right: 2em;
            }
            .text{
              font-weight: 700;
            }
            + a{
              margin-top: 1.2em;
            }
          }
        }
        p{
          margin-bottom: 2em;
        }
        h2{
          font-size: 45px;
        }
      }
    }
    .block-photo{
      position: relative;
      background-color: #fff;
      overflow: hidden;
      border: 20px solid #fff;
      height: 325px;
      z-index: 2;
      margin-top: 3em;
      @include breakpoint($bp-large){
        height: 510px;
      }
      @include breakpoint($bp-xl){
        margin-top: 0;
        /* margin-right: -50vw; */
        /* max-width: 100vw; */
        left: -20px;
        width: 480px;
        position: absolute;
      }
      @include breakpoint($bp-xl-md){
        width: 550px;
      }
      @include breakpoint($bp-mega){
        width: 490px;
      }
      @include breakpoint($bp-mega-md){
        width: 560px;
      }
      @include breakpoint($bp-mega-large){
        width: 710px;
      }
      @include breakpoint($bp-mega-xl){
        width: 750px;
      }
      img{
        @include block-fit-cover(200);
      }
    }
  }
}


.home-featured-programs{
  .home-card{
    .thumbnail-footer{
      background-color: $color-purple;
      transition: background-color 500ms;
    }
    &:hover{
      .thumbnail-footer{
        background-color: $color-orange;
        transition: background-color 500ms;
      }
    }
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2em;
    h2{
      margin-bottom: 0;
      color: $color-black;
      font-size: 35px;
      @include breakpoint($bp-med){
        font-size: 40px;
      }
      @include breakpoint($bp-mega){
        font-size: 45px;
      }
    }
    @include breakpoint($bp-med){
      padding-top: 3em;
    }
    @include breakpoint($bp-large){
      padding-top: 5em;
    }
  }
  .home-card{
    @include breakpoint($bp-xl){
      height: 294px;
    }
    a{
      text-decoration: none;
      .thumbnail-box{
        overflow: hidden;
        position: relative;
        height: 200px;
        background-color: #d8d8d8;
        img{
          @include block-fit-cover();
        }
      }
      .thumbnail-footer{
        @include reverse-block-color;
        background-color: $color-purple;
        height: 147px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.5em;
      }
    }
  }
}

.home-featured-events{
  padding-top: 0 !important;
  margin-top: 40px;
  .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
    align-items: center;
    h2{
      margin-bottom: 0;
      color: $color-black;
      font-size: 35px;
      @include breakpoint($bp-med){
        font-size: 40px;
      }
      @include breakpoint($bp-large){
        font-size: 45px;
      }
    }
  }
  .col-lg-3{
    a{
      text-decoration: none;
    }
  }
  .home-card{
    .card-footer{
      background-color: $color-purple;
      transition: background-color 500ms;
    }
    &:hover{
      .card-footer{
        @include reverse-block-color();
        background-color: $color-purple;
        transition: background-color 500ms;
      }
      .signup-button{
        color: white !important;
        &:before{
          color: white !important;
          border: .0012em solid white !important;
        }
        &:after{
          content: url(../svg/icons/arrow-left-icon-button-inverse.svg) !important;
        }
      }
    }
  }
  .home-card{
    @include breakpoint($bp-xl){
      height: 244px;
    }
    .image{
      height: 132px;
      position: relative;
      overflow: hidden;
      img{
       @include block-fit-cover();
      }
      .date-box{
        background-color: rgba(0,0,0,.6);
        position: absolute;
        z-index: 1;
        color: #fff;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 0.5em;
        .date{
          font-size: 16px;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
    .card-footer{
      height: 112px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1.5em;
      position: relative;
      h3{
        color: $color-black;
        font-size: 18px;
        font-weight: 500;
      }
      .signup-button{
        position: relative;
        color: $color-orange;
        font-size: 14px;
        &:after{
          content: url(../svg/icons/arrow-left-icon-button.svg);
          position: absolute;
          right: -20px;
          bottom: 0;
          font-size: 14px;
          color: $color-orange;
        }
        &:before{
          content: "";
          position: absolute;
          left: 0;
          right: -20px;
          bottom: -2px;
          color: #FF7B41;
          border: .0012em solid orange;
        }
      }
    }
  }
}
