
.search {
  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid $border-color;
    }
  }
}


.widget-404, .no-results{
  .search-bar .search-form {
    position: relative;
    border: 2px solid black;
  }
}

.utility-nav--search .search-bar .search-field{
  font-size: 12px;
}
