
/**
 * Buttons
 */

.button,
input[type="submit"] {
  @include button( $button-color );
}

.text-button {
  @include button-reset;
  padding: 0.15em 0;
  border-bottom: 2px solid $button-color;
  color: $button-color;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 500ms, border-bottom-color 500ms;

  &:hover,
  &:focus {
    border-bottom-color: $button-color--hover;
    color: $button-color--hover;
  }
}


/**
 * Button Group
 */

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}


.white-button{
  @include button(#ffffff);
  color: $color-orange;
  font-size: 16px;
  // padding: 0 20px;

  &:hover, &:focus, &:active {
    color: #ffffff;
    background-color: $color-orange;
  }
}

.register-link {
    border-top: none !important;
    /* border-bottom: none !important; */
    /* border: none !important; */
    /* border-bottom: 29px solid white !important; */
    margin-bottom: 1.5em;
}
