
/**
 * Background Colors
 */

.color-option-1 {
  background-color: #fff;
}


// .color-option-2 {
//   background-color: $bkg-light-grey;
// }
//
// .color-option-3 {
//   @include reverse-block-color();
//   background-color: $bkg-dark-grey;
// }

.color-option-4 {
  @include reverse-block-color();
  background-color: $color-orange;
  a{
    &:hover{
      text-decoration: none !important;
    }
  }
}
.color-option-5 {
  @include reverse-block-color();
  background-color: $color-purple;
  a{
    &:hover{
      text-decoration: none !important;
    }
  }
  a.white-button {
    color: #9a329a !important;
    text-decoration: none !important;
    &:hover{
      color: white !important;
      background-color: #9a329a !important;
    }
  }
}
.color-option-6 {
  @include reverse-block-color();
  background-color: $color-black;
  a{
    &:hover{
      text-decoration: none !important;
    }
  }
}

.color-option-7 {
  background-color: #F7F7F7;
}

.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
