
/**
 * Headings
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: 0.5em;
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 400;
  line-height: 1.2;

  // Add margin for following elements
  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {
  @include font-size(40);
  color: $color-black;
  @include breakpoint($bp-large) {
    @include font-size(42);
  }
  @include breakpoint($bp-xl) {
    @include font-size(60);
  }
  @include breakpoint($bp-mega){
    font-size: 60px;
  }
}

h2, .h2 {
  @include font-size(30);
  color: $color-black;
  @include breakpoint($bp-large) {
    @include font-size(45);
  }
}

h3, .h3 {
  @include font-size(32);
  font-weight: 600 !important;
}

h4, .h4 {
  @include font-size(22);
}

h5, .h5 {
  @include font-size(17);
}

h6, .h6 {
  @include font-size(27);
}
