
/**
 * Form Inputs
 */

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="search"],
textarea {
  padding: 0.5em 0.75em;
  border: 2px solid $input-border-color;
  background: #fff;
  appearance: none;
  color: $input-text-color;
  transition: border-color 250ms;
  
  &:focus {
    border-color: $input-border--focus;
    outline: 0 none;
  }
}

label {
  display: block;
}
