
/**
 * Page Banner
 */

.banner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 177px;
  background-color: $color-black;
  @include breakpoint($bp-large-xl){
    background-color: $color-purple;
  }
  //min-height: 200px;
  .wrap{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .mobile-banner{
    display: block;
    @include breakpoint($bp-large-xl){
      display: none;
    }
  }
}

.banner-title {
  position: relative;
  z-index: 10;
  padding-left: 0;
  @include breakpoint($bp-large-xl){
    padding-left: 2em;
  }

  .h1 {
    @include font-size(25);
    margin: 0;
    display: block;
    color: #fff;
    font-family: $font-heading;
    font-weight: 700;
    text-align: center;
    // display: none;

    @include breakpoint($bp-med) {
      @include font-size(32);
    }
    @include breakpoint($bp-large) {
      display: block;
    }
  }
}

.banner-image {
  @include block-fit-cover( 100em );
  opacity: 0.6;
  @include breakpoint($bp-large-xl){
    opacity: 1;
  }
}


.banner-block-img{
  position: absolute;
  right: 44px;
  margin-top: 150px;
  .block-cont-1{
    &:after{
      content: "";
      background-image: url(../img/src/branding/banner-bg-dots.png);
      width: 862px;
      height: 177px;
      position: absolute;
      right: -32px;
      top: -39px;
    }
    .block-cont-2{
      position: relative;
      overflow: hidden;
      height: 256px;
      width: 689px;
      background-color: $color-purple;
      @include breakpoint($bp-large-xl-mega){
        width: 759px;
      }
      @include breakpoint($bp-xl){
        width: 829px;
      }
      @include breakpoint($bp-xl-md){
        width: 849px;
      }
      @include breakpoint($bp-mega){
        width: 879px;
      }
      img{
        @include block-fit-cover();
      }
    }
  }
}

.banner-block-img{
  display: none;
  @include breakpoint($bp-large-xl){
    display: block;
  }
}


.post-77{
  .l-columns--2{
    div{
      &:nth-child(2){
        @include breakpoint($bp-large-xl){
          margin-top: 90px;
        }
      }
    }
  }
}

.search-no-results, .search-results, .page-id-454{
  .fullwidth-column{
    @include breakpoint($bp-large-xl){
      margin-top: 90px;
    }
  }
}
