
/**
 * Hero Block
 */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  //height: 52.4375em;
  //height: 80vh;
  //min-height: 38em;
  //max-height: 52.4375em;
  //overflow: hidden;
  overflow: visible;
  height: 315px;
  @include breakpoint($bp-med){
    height: 430px;
  }
  @include breakpoint($bp-large){
    height: 490px;
  }
  @include breakpoint($bp-mega){
    height: 590px;
  }

  &.background-image {
    background-color: $bkg-dark-grey;
  }

  .wrap {
    position: relative;
    max-width: 39.625em;
    width: 100%;
    z-index: 10;

    @include breakpoint($bp-large) {
      max-width: 55.625em;
    }
  }
}

.hero-bkg-image {
  @include block-fit-cover( 100em );
  //opacity: 0.3;
}

.hero-box {
  background: #000000;
  @include breakpoint($bp-med){
    margin-top: -9em;
    z-index: 99;
    position: absolute;
    right: 0;
    width: calc(100% - (50% - 20.5em));
  }
    @include breakpoint($bp-xl){
      width: calc(100% - (50% - 15.5em));
    }
    @include breakpoint($bp-mega){
      width: calc(100% - (50% - 14.5em));
    }
  }

.hero-content {
  text-align: left;
  padding: 2.5em;
  @include breakpoint($bp-med) {

  }

  @include breakpoint($bp-large) {
  }

  @include breakpoint($bp-xl) {
    padding-right: 7em;
  }
  @include breakpoint($bp-mega){
    padding-right: 9em;
  }
  @include breakpoint($bp-mega-md){
    padding-right: 12em;
  }
  @include breakpoint($bp-mega-xl){
    padding-right: 17em;
  }

  h1 {
    @include font-size(35);
    font-family: $font-heading;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;


    @include breakpoint($bp-large) {
      @include font-size(40);
    }

    @include breakpoint($bp-xl) {
      @include font-size(55);
    }

    @include breakpoint($bp-mega) {
      @include font-size(60);
    }
  }

  p {
    @include font-size(14);
    font-family: $font-base;
    font-weight: 400;
    line-height: 140%;
    color: #FFFFFF;
    padding: 0;
    margin: 17px 0 0 0;

    @include breakpoint($bp-med) {
      @include font-size(14);
    }

    @include breakpoint($bp-xl) {
      @include font-size(16);
    }
    @include breakpoint($bp-mega) {
      @include font-size(18);
    }

  }

  .button {

  }
}
