
/**
 * Button Block
 */

.button-block-layout {
  position: relative;

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.button-block-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}

.button-block {
  margin: -0.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  @include breakpoint($bp-med) {
    margin: 0 -2em;
  }

  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .callout-header,
  .callout-body {
    padding: 0.5em 0;

    @include breakpoint($bp-med) {
      padding: 0 2em;
    }
  }

  .callout-header {
      margin-bottom: 1em;
    h2 {
      @supports ( display: flex ) {
        margin: 0;
      }
    }
  }
}

.button-callout-content {
  width: 100%;

  @include breakpoint($bp-large) {
    @supports ( display: flex ) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  p {
    margin: 0 0 1em 0;
    font-size: 1.1875em;
    line-height: 1.2;

    @include breakpoint($bp-large) {
      @supports ( display: flex ) {
        flex: 1 0 0;
        margin: 0;
        padding-right: 1em;
      }
    }
  }
}


.button-block-layout.color-option-4{
 .button{
   @include button(#ffffff);
   color: $color-orange;
   font-size: 16px;
   // padding: 0 20px;

   &:hover, &:focus, &:active {
     color: #ffffff;
     background-color: $color-orange;
   }
 }
}
