
/**
 * Utility Navigation
 */

.navigation--utility {
  //margin-bottom: 0.5em;
  text-align: right;

  li {
    + li {
      padding-left: 0.75em;
      // border-left: 1px solid $border-color;
    }
  }


  ul li a {
    display: block;
    margin: -5px 0;
    padding: 0.5em 0.15em;
    color: $utility-nav-color;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $utility-nav-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $utility-nav-color--active;
    }
  }

  .sub-menu {
    display: none;
  }
  .nav-list{
    display: flex;
  }
}


.search-bar .search-submit {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .65em;
    height: 100%;
    background-color: white;
}

.search-bar .search-submit svg {
    // display: block;
    // width: 11px;
    // height: 11px;
}
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea{
  padding: .6em .75em;
    border: 2px solid white;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #696969;
    -webkit-transition: border-color 250ms;
    -o-transition: border-color 250ms;
    transition: border-color 250ms;
}
.search-bar .search-submit {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .65em;
    height: 32px;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.search-field{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus {
    /* border-color: #6f797d; */
    outline: 0;
}

.search-form{
  button{
    background-image: url(../img/src/branding/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
      background-image: url(../img/src/branding/search-icon.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
