
/**
 * Sidebar Navigation
 */

.sidebar-nav {
  background: #F0F0F0;
  padding: 0.5em 2em;
  @include breakpoint($bp-med){
    margin-left: 1em !important;
  }
  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;

    + li {
      border-top: 2px solid white;
    }
  }

  a {
    display: block;
    padding: 0.75em 0;
    color: $color-purple;
    text-decoration: none;
    font-weight: 700;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: $color-orange;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      color: $color-orange;
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
