
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;

  li {
    position: relative;
  }

  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-base;
    font-weight: 600;
    font-size: 14px;
    color: $color-black;
    letter-spacing: 0;
    padding: 0.5em 0.15em;
    @include breakpoint($bp-xl){
      font-size: 16px;
    }

    &:hover,
    &:focus {
      color: $main-nav-color--hover;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        margin-left: 1.5em;
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $main-nav-color--active;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: $color-purple;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;

    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        border-top: 1px solid white;
      }
    }

    a {
      padding: 1em 0;
      color: #fff;
      font-size: 1em;

      &:hover,
      &:focus {
        color: $main-nav-color--hover;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $main-nav-color--hover;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}
