// Variables

// Fonts

$font-base:    'Fira Sans Condensed', sans-serif;
$font-heading: 'Fira Sans Condensed', sans-serif;

// Color Variables

// Theme Colors

$color-orange:  #FF7B41; // orange
$color-purple:  #9A329A; // purple

// Main Colors
$color-white:         #fff; // black
$color-black:         #000000; // black
$color-grey--dark:    #696969; // $text-color
$color-grey--med:     #899296;

// Secondary Colors
$color-grey--med-2:   #abb6bb;
$color-grey--light:   #f2eee9;

// Utility Colors
$color-red:           #ab2b2b;
$color-green:         #2bab2b;

/**
 * Typography Colors
 */

// Text Colors
$text-color:          $color-black;
$heading-color:       $color-black;

// Link Colors
$link-color:          $color-purple;
$link-color--hover:   darken( $link-color, 10% );

// Button Colors
$button-color:        $color-orange;
$button-color--hover: $color-orange;

// List Colors
$ul-bullet-color:     $color-purple;

// Inputs
$input-text-color:    $text-color;
$input-border-color:  $color-grey--med;
$input-border--focus: darken( $input-border-color, 10% );

// Icons
$icon-color:          $color-grey--dark;
$icon-color--hover:   darken( $icon-color, 10% );


/**
 * Navigation Colors
 */

// Generic
$nav-link-color:          $color-grey--dark;
$nav-link-color--hover:   darken( $nav-link-color, 10% );
$nav-link-color--active:  darken( $nav-link-color, 10% );

// Main nav
$main-nav-color:          $text-color;
$main-nav-color--hover:   $color-orange;
$main-nav-color--active:  $color-orange;

// Utility
$utility-nav-color:          $color-grey--dark;
$utility-nav-color--hover:   darken( $utility-nav-color, 10% );
$utility-nav-color--active:  darken( $utility-nav-color, 10% );


/**
 * Block Colors
 */

// Background Colors
$bkg-light-grey:  $color-grey--light;
$bkg-med-grey:    $color-grey--med;
$bkg-dark-grey:   $color-grey--dark;
$bkg-black:       $color-black;

// Border Colors
$border-color:    $color-grey--light;

// Site background colors
$banner-bkg:      $bkg-med-grey;
$header-bkg:      #fff;
$footer-bkg:      $color-black;


/**
 * UI Colors
 */



$ui-error:    $color-red;
$ui-success:  $color-green;



/**
 * Layout
 * ---
 */

// 1200px + 3em padding ($max-width-spacing)
$max-width:         85.3125em;
// 1200px + 4em padding ($max-width-spacing--large)
$max-width--large:  79em;
// 932px + 3em padding ($max-width-spacing)
$max-width--small:  61.25em;

$max-width-spacing:         0 1.5em;
$max-width-spacing--large:  0 2em;

$padding:                   3em;
$padding-medium:            3em;
$padding-large:             4em;

$vertical-padding:          3em 0;
$vertical-padding-medium:   3em 0;
$vertical-padding-large:    4em 0;

$horizontal-padding:        0 3em;
$horizontal-padding-medium: 0 3em;
$horizontal-padding-large:  0 4em;

$column-gutter:             2em;
$grid-gutter:               2em;



/**
 * Design/Animation
 * ---
 */

/**
 * Block design elements
 */

$border-radius: 3px;
$box-shadow: 0 0.15em 0.15em rgba( 0, 0, 0, 0.12 );
$box-shadow--light: 0 0 0.3125em rgba( 255, 255, 255, .5 );

// // Transitions
// $transition:        all 1s;
// $transition-fast:   all .5s;
// $transition-faster: all .25s;
// $transition-slow:   all 2s;
// $transition-slower: all 2.5s;
